<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Book List</title>
</head>
<style>
  	@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
		body {
			background: radial-gradient(circle, rgba(42, 133, 133, 1) 0%, rgba(25, 40, 59, 1) 80%);
			background-repeat: inherit;
			
		}
		h1 {
			color: whitesmoke;
			margin-left: 40px;
		
		}

		form {
			display: grid;
			justify-content: center;
			font-weight: lighter;
			font-family: 'Aboreto', cursive;
			color: whitesmoke;
			margin-top: 150px;

		}

		input {
			border-radius: 40px;
			padding: 10px;
		}

		div {
			box-sizing: border-box;
            margin: 10px;
            border-radius: 30px;         
            background: linear-gradient(0deg, rgba(226,236,230,1) 0%, rgba(1,2,11,1) 44%);

         
		}
</style>
<body>
  <div>
  <h1>Edit Song</h1>
  </div>

  <form action="/songs/<%=song._id%>?_method=PUT" method="POST">

    <!--  NOTE: the form is pre-populated with values for the server-->
    Title: <input type="text" name="title" value="<%=song.title%>" /><br />
    Artist: <input type="text" name="artist" value="<%=song.artist%>" /><br />
    Completed: <input type="checkbox" name="completed" <% if(song.completed===true){ %> checked <% } %> />
      <br />
      <input type="submit" value="Submit Changes" />
  </form>

</body>

</html>