<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Music List</title>
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

		body {
			background: radial-gradient(circle, rgba(42, 133, 133, 1) 0%, rgba(25, 40, 59, 1) 80%);
			background-repeat: inherit;
		}
		h1 {
			color: whitesmoke;
		}

		form {
			display: grid;
			justify-content: center;
			font-weight: lighter;
			font-family: 'Aboreto', cursive;
			color: whitesmoke;
			margin-top: 150px;

		}

		input {
			border-radius: 40px;
			padding: 10px;
		}
	</style>
</head>

<body>
	<h1>Music Page</h1>
	<form action="/songs" method="POST">
		Title: <input type="text" name="title" /><br />
		Artist: <input type="text" name="artist" /><br />
		Completed: <input type="checkbox" name="completed" /><br />
		<input type="submit" name="" value="Add Song" />
	</form>
</body>
</body>

</html>